body {
  padding-top: 51px;
  background-color: #004358;
  font-family: 'Noto Sans', sans-serif;
}

pre {
  color: white;
  background-color: #272822;
}

.light-text {
  color: #FFF;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#code-editor {
  position: absolute;
  top: 51px;
  left: 5%;
  height: 700px;
  width: 60%;
  box-shadow: 0 0 5px 3px black;
}

.ace_scrollbar {
  display: none !important;
}

.three-dots-row-spinner {
  margin: 15px auto auto;
  background-color: #FFF;
}

.comment-range {
  background: rgba(255, 255, 0, 0.3);
  position: absolute;
}

.comment-range-selected {
  background: rgba(255, 255, 0, 0.6);
  position: absolute;
}

#comment-list {
  padding: 31px 31px 0 31px;
  overflow-y: auto;
}

#code-output-panel {
  margin-top: 20px;
}

#code-editor-error-output {
  color: red;
}

.comment {
  position: relative;
  left: 0;
  transition: left .3s;
  -webkit-transition: left .3s;
}
.selected-comment {
  left: -21px;
}


#add-comment-button {
  position: absolute;
  left: 0;
  top: 51px;
  z-index: 100;
}

.comment-input {
  margin-bottom: 15px;
}
