body {
  padding-top: 51px;
  background-color: #004358;
  font-family: 'Noto Sans', sans-serif;
}

pre {
  color: white;
  background-color: #272822;
}

.light-text {
  color: #FFF;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#code-editor {
  position: absolute;
  top: 51px;
  left: 0;
  height: 700px;
  width: 60%;
  box-shadow: 0 0 5px 3px black;
}

.ace_scrollbar {
  display: none !important;
}

.three-dots-row-spinner {
  margin: 15px auto auto;
  background-color: #FFF;
}

.ui-scrollpoint {
  position: fixed;
  width: inherit;
  padding-right: 30px;
}

.comment-range {
  background: rgba(255, 255, 0, 0.3);
  position: absolute;
}

.comment-range-selected {
  background: rgba(255, 255, 0, 0.6);
  position: absolute;
}

#comment-list {
  padding: 41px 81px 0 41px;
  overflow-y: auto;
}

#code-output-panel {
  margin-top: 20px;
}

#code-editor-error-output {
  color: red;
}

/*
 * Sidebar
 */
 
.drive-sidebar {
  margin-top: -20px;
  min-height: 100%;
  min-height: 100vh;
  background-color: #eee;
  padding: 0;
  box-shadow: inset -5px 0px 5px -3px rgba(163, 163, 163, 0.87);
}

.drive-folder-title {
  padding-left: .5em;
}

.drive-list {
  margin: 0;
  padding: 0;
}

.drive-item {
  margin: 0;
  padding: 5px 15px 5px 25px;
  color: rgb(86, 86, 86);
}

.drive-item:hover {
  background-color: #ddd;
  border-left: 4px solid rgb(86, 86, 86);
  padding-left: 21px;
  box-shadow: inset -5px 0px 5px -3px rgba(163, 163, 163, 0.87);
}

.drive-item.active {
  color: #337ab7;
  border-left: 4px solid #337ab7;
  padding-left: 21px;
}

.drive-item.disabled {
  color: rgb(200, 200, 200);
}

.drive-item.disabled:hover {
  background-color: #eee;
  border-left: 0;
  padding-left: 25px;
  color: rgb(200, 200, 200);
  box-shadow: inset -5px 0px 5px -3px rgba(163, 163, 163, 0.87);
}

.drive-item-icon {
  padding-right: .75em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}