body {
  padding-top: 70px;
}

.code-editor {
  height: 400px;
  width: 100%;
}

.ui-scrollpoint {
  position: fixed;
  top: 70px;
  width: inherit;
  padding-right: 30px;
}

.comment-range {
  background: rgba(221, 239, 15, 0.63);
  position: absolute;
}

#comment-list {
  position: relative;
}
