body {
  padding-top: 70px;
}

.code-editor {
  height: 400px;
  width: 100%;
}

.ui-scrollpoint {
  position: fixed;
  top: 70px;
  width: inherit;
  padding-right: 30px;
}

.comment-range {
  background: rgba(255, 255, 0, 0.3);
  position: absolute;
}

.comment-range-selected {
  background: rgba(255, 255, 0, 0.6);
  position: absolute;
}

#comment-list {
  position: relative;
}

#code-output-panel {
  margin-top: 20px;
}

#code-editor-error-output {
  color: red;
}