<div id="comment-list">
  <div ng-repeat="comment in comments">
    <div ng-if="comment.saved" class="panel" id="comment-{{comment.id}}" ng-class="comment.selected ? 'panel-warning' : 'panel-default'" ng-click="selectComment(comment)">
      <div class="panel-heading">
        <h3 class="panel-title">{{comment.authorName}}</h3>
      </div>
      <div class="panel-body" marked="comment.content"></div>
    </div>
    <div ng-if="!comment.saved" class="panel" id="comment-{{comment.id}}" ng-class="comment.selected ? 'panel-warning' : 'panel-default'" ng-click="selectComment(comment)">
      <div class="panel-heading">
        <h3 class="panel-title">New comment!</h3>
      </div>
      <div class="panel-body">
        <textarea class="form-control" rows="3" placeholder="Add comment..." ng-model="comment.content"></textarea>
        <button class="btn btn-success" ng-click="saveComment(comment)">Save</button>
        <button class="btn btn-danger" ng-click="removeComment(comment)">Cancel</button>
      </div>
    </div>
  </div>
  
</div>