<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Code Review</a>
    </div>
    <p class="navbar-text navbar-left">{{file.metadata.name}}</p>
    <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="shareFile()">Share <span class="glyphicon glyphicon-plus"></span></button>
  </div>
</nav>
<div class="row">
  <div class="col-md-8">
    <code-editor></code-editor>
  </div>
  <div class="col-md-4">
    <comment-list></comment-list>
  </div>
</div>
