<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="btn-group">
        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="openFile()">Open File</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{{ file.metadata.webContentLink }}">Download File</a></li>
          <li><a href="" ng-click="shareFile()">Share...</a></li>
        </ul>
      </div>
    </div>
    
    <p class="navbar-text">{{file.metadata.name}}</p>
    
    <ul class="nav navbar-nav pull-right">
      <li>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-default navbar-btn" href="{{ file.metadata.webContentLink }}"><span class="glyphicon glyphicon-save"></span> Download</a>
          <button type="button" class="btn btn-default navbar-btn" ng-click="shareFile()"><span class="glyphicon glyphicon-user"></span> Share</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div ng-controller="CodeEditorCtrl">
  <div id="code-editor-container">
    <div id="code-editor" ng-model="file.content" ui-ace="{theme:'monokai', showPrintMargin:false, onLoad: aceLoaded}">Loading...</div>
    <div id="add-comment-button" ng-show="isRangeSelected"><button class="btn btn-danger btn-sm" ng-click="insertCommentAtSelection()"><span class="glyphicon glyphicon-plus"></span></button></div>
  </div>

  <div id="comment-list" ng-controller="CommentListCtrl">
    <div ng-repeat="comment in comments">
      <div ng-if="!comment.editing" class="panel comment" id="comment-{{comment.id}}" ng-class="comment.selected ? 'panel-warning selected-comment' : 'panel-default'" ng-click="selectComment(comment)">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">{{comment.author.name}}</h3>
          <div class="btn-group btn-group-xs pull-right" role="group" ng-show="comment.author.isMe">
            <button class="btn btn-xs btn-default" ng-click="beginEditing(comment)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-xs btn-default" ng-click="deleteComment(comment)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
        <div class="panel-body" marked="comment.content"></div>
      </div>
      <div ng-if="comment.editing" class="panel comment" id="comment-{{comment.id}}" ng-class="comment.selected ? 'panel-warning selected-comment' : 'panel-default'" ng-click="selectComment(comment)">
        <div class="panel-heading">
          <h3 class="panel-title">{{comment.saved ? comment.author.name : "New comment!"}}</h3>
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="3" placeholder="Add comment..." ng-model="comment.content"></textarea>
          <button class="btn btn-success" ng-click="saveComment(comment)">Save</button>
          <button class="btn btn-danger" ng-click="cancelEditing(comment)">Cancel</button>
        </div>
      </div>
    </div>
    <div ng-if="comments.length === 0">
      <h4 class="text-center light-text">
        Select text on the left, then tap <span class="glyphicon glyphicon-plus"></span> to add comments!
      </h4>
    </div>
  </div>
</div>
