<div class="row light-text">
  <div class="col-md-8 col-md-offset-2">
    <div class="vertical-center">
      <div class="center-block text-center">
        <h1>Code Review</h1>
        <div ng-show="!loading" class="center-block">
          <a href="" class="btn btn-primary" ng-click="login()">Connect to Google Drive</a>
        </div>
        <div ng-show="loading" class="center-block text-center">
          <rotating-plane-spinner></rotating-plane-spinner>
        </div>
      </div>
    </div>
  </div>
</div>