<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div class="code-editor" ui-ace="{theme:'monokai', mode:'python', showPrintMargin:false, onLoad: aceLoaded}">Loading...</div>
  </div>
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Commenter Name</h3>
      </div>
      <div class="panel-body">
        Comments about the code go here!
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Commenter Name</h3>
      </div>
      <div class="panel-body">
        Another comment
        <button class="btn btn-primary" ng-click="openFile()">Click me!</button>
      </div>
    </div>
    
  </div>
</div>