<div class="row">
  <div class="col-md-2 drive-sidebar">
    <ul class="drive-list">
      <li class="drive-item truncate" ng-repeat="child in children | filter:mimeTypeFilter | orderBy: 'mimeType' | orderBy: 'title' " ng-class="(fileId === child.id) ? 'active' : ''" ng-click="goToChild(child.id, isFolder(child))">
        <span ng-if="isFolder(child)" class="drive-item-icon glyphicon glyphicon-folder-open"></span>{{child.title}}
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div ui-view></div>
  </div>
</div>