<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div class="code-editor" ui-ace="{theme:'monokai', mode:'python', showPrintMargin:false}">needle_string = raw_input("Needle? ")
needle = int(needle_string)
haystack = [1, 3, 4, 6, 9, 11, 12, 13, 16, 19, 20, 25]

min_index = 0
max_index = len(haystack) - 1

found_needle = False

while max_index >= min_index:
  midpoint = (min_index + max_index) / 2
  if needle == haystack[midpoint]:
    print "Found at index " + str(midpoint) + "!"
    found_needle = True
    break
  elif needle > haystack[midpoint]:
    min_index = midpoint + 1
  else:
    max_index = midpoint - 1

if not found_needle:
  print "Did not find needle in the haystack"
    </div>
  </div>
  <div class="col-md-3">
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Commenter Name</h3>
      </div>
      <div class="panel-body">
        Comments about the code go here!
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Commenter Name</h3>
      </div>
      <div class="panel-body">
        Another comment
        <button class="btn btn-primary" ng-click="openFile()">Click me!</button>
      </div>
    </div>
    
  </div>
</div>